<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffPlex" version="1.2.1" targetFramework="net462" />
  <package id="DockPanelSuite" version="2.13.0" targetFramework="net462" />
  <package id="DockPanelSuite.ThemeVS2015" version="2.13.0" targetFramework="net462" />
  <package id="FCTB" version="2.16.21.0" targetFramework="net462" />
  <package id="FontAwesome.Sharp" version="4.7.0" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net462" />
  <package id="jacobslusser.ScintillaNET" version="3.5.10" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net461" />
  <package id="ServiceStack.Client" version="4.5.4" targetFramework="net461" />
  <package id="ServiceStack.Common" version="4.5.6" targetFramework="net462" />
  <package id="ServiceStack.Interfaces" version="4.5.6" targetFramework="net462" />
  <package id="ServiceStack.Redis" version="4.5.6" targetFramework="net462" />
  <package id="ServiceStack.Text" version="4.5.6" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
</packages>